body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.ready{
    padding-left: 50px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orane{
    color: orange;
}
.flex{
    display: flex;
    margin-bottom: 60px;
}
.width{
    width: 2174px;
    padding: 5%;
    text-align: justify;
}
.width img{
    width: 80%;
    bottom: 0;
}
.modify{
    text-align: justify;
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin: 0;
}
.tool{
    width: 40%;
    margin-left: 5%;
    margin-right: 20px;
    box-shadow: 10px 10px 50px gray;
    border-radius: 10px;
    border-left: 10px solid orange;
}
.experiense{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
   
}
#bt{
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}